absl-py==2.3.0
altgraph==0.17.4
asttokens==3.0.0
attrs==25.3.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
bottle==0.13.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
clr_loader==0.2.7.post0
colorama==0.4.6
comtypes==1.4.11
contourpy==1.3.0
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
docopt==0.6.2
exceptiongroup==1.3.0
executing==2.2.0
fastjsonschema==2.21.1
fonttools==4.58.0
gpib-ctypes==0.3.0
idna==3.10
ifaddr==0.2.0
immutabledict==4.2.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keithley2600==2.1.0
kiwisolver==1.4.7
llvmlite==0.43.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mistune==3.1.3
narwhals==1.41.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numba==0.60.0
numpy==2.0.2
opencv-python==4.11.0.86
ortools==9.13.4784
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pefile==2023.2.7
pickleshare==0.7.5
pillow==11.2.1
pipreqs==0.5.0
platformdirs==4.3.8
plotly==6.1.2
plumbum==1.9.0
prompt_toolkit==3.0.51
protobuf==6.31.1
proxy-tools==0.1.0
psutil==7.0.0
pure_eval==0.2.3
pycparser==2.22
pyft232==0.12
Pygments==2.19.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pylablib==1.4.3
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyqtgraph==0.13.7
pyserial==3.5
pyserial-asyncio==0.6
python-dateutil==2.9.0.post0
pythonnet==3.0.5
pytz==2025.2
pyusb==1.3.1
PyVISA==1.14.1
PyVISA-py==0.7.2
pywebview==5.4
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.4.0
qontrol==1.1.20
referencing==0.36.2
remi==2022.7.27
requests==2.32.3
rpds-py==0.25.1
rpyc==6.0.2
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
soupsieve==2.7
stack-data==0.6.3
thorlabs-apt-device==0.3.8
tinycss2==1.4.0
tinydb==4.8.2
tornado==6.5
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
webencodings==0.5.1
wxPython==4.2.3
yarg==0.1.9
zeroconf==0.147.0
zipp==3.21.0
