#wrap {
  width: 1920px;
  height: 1920px;
  padding: 0;
  overflow: hidden;
}

#scaled-frame {
  width: 1920px;
  height: 1920px;
  border: 0px;
  position: absolute;
  top: 0;
  left: 0;
}

#scaled-frame {
  zoom: 0.208;
  -moz-transform: scale(0.208);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.208);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.208);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #scaled-frame {
    zoom: 1;
  }
}